streamlit
requests
beautifulsoup4
langchain
langchain-community
langchain-ollama
chromadb
rank-bm25
sentence-transformers
numexpr
langsmith
torchvision
duckduckgo-search
redis
python-dotenv
pypdf
python-docx
tavily-python